:root {
	--date: rgb(22 24 35 / 50%);
	--send-bg: -1269px;
	--send-size: 16px;
}

[data-theme='dark'] {
	--date: gray;
	--send-bg: -173px;
	--send-size: 22px;
}

.comment-container {
	margin-top: 24px;
	display: flex;
	position: relative;

	.comment-author {
		margin-left: 10px;
		flex: 1;
		.comment-user {
			color: var(--default-text-color);
			font-weight: 600;
			&:hover {
				text-decoration: underline;
			}
		}
		.comment-content {
			width: 500px;
			color: var(--default-text-color);
			overflow-wrap: break-word;
		}

		.comment-date {
			color: var(--date);
		}
	}

	.comment-avatar {
		width: 40px;
		height: 40px;
	}
	.comment-like {
		display: flex;
		height: 100%;
		justify-content: flex-end;
		flex-direction: column;
		align-items: center;
	}
	.comment-option {
		color: var(--default-text-color);
		&:hover {
			cursor: pointer;
		}
	}
}

.liked .icon {
	color: var(--primary);
}

.icon {
	height: 20px;
	cursor: pointer;
	color: var(--default-text-color);
}

.likes-count {
	color: var(--default-text-color);
}

.tippy-wrapper {
	border: 1px solid rgba(22, 24, 35, 0.2);
	position: relative;
	background: white;
	top: -12px;
	border-radius: 5px;
	.tippy-content {
		display: flex;
		justify-content: space-between;
		width: 150px;
		padding: 10px 20px;
		&:hover {
			background: rgba(22, 24, 35, 0.1);
			cursor: pointer;
		}
	}
}

.css {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/U46SvbOsaBN.png?_nc_eui2=AeHbvTUDsgL0bpEqUVFSKbNCj0fFUM5csmePR8VQzlyyZ8SQTfaRztCLcRwVV1Kq1K7hjSEOxJRRnUK_PyxusTBb');
	background-position: 0px var(--send-bg);
	background-size: auto;
	width: var(--send-size);
	height: var(--send-size);
	background-repeat: no-repeat;
	display: inline-block;
	color: var(--default-text-color);
}

.comment-edit-wrapper {
	border: 1px solid var(--default-text-color);
	background: white;
	height: 50px;
	border-radius: 5px;
}
.comment-edit {
	border: none;
	height: 100%;
	width: 541px;
	resize: none;
	border-radius: 5px;
	padding: 12px;
	&:focus-visible {
		outline: none !important;
	}
}

.comment-edit-remove {
	font-size: 12px;
	color: var(--default-text-color);
	span {
		color: var(--primary);
	}
}

.active {
	filter: invert(74%) sepia(14%) saturate(7129%) hue-rotate(185deg) brightness(80%) contrast(101%);
	&:hover {
		cursor: pointer;
	}
}
