:root {
	--title-text: rgb(22 24 35 / 60%);
	--active: black;
	--sep-line: rgb(22 24 35 / 12%);
}

[data-theme='dark'] {
	--title-text: var(--default-text-color);
	--active: var(--primary);
	--sep-line: #5e5e5e;
}

.content-header {
	display: flex;
}

.title {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	font-size: 14px;
	color: var(--title-text);
	font-weight: 700;
}
.content-header-wrapper {
	position: relative;
	&:hover {
		cursor: pointer;
	}
}

.line {
	width: 100%;
	background: var(--default-text-color);
	height: 2px;
	border-radius: 5px;
}
.active {
	color: var(--active);
}
.title-name {
	height: 24px;
}
.content-line {
	position: absolute;
	height: 1px;
	width: calc(100% + 48px);

	background: var(--sep-line);
	margin-left: -24px;
}
