.container {
	display: flex;
	margin-top: var(--default-header-height);
}

.content {
	display: flex;
	flex: 1;
	justify-content: center;
}

.scroll-to-top {
	position: fixed;
	bottom: 40px;
	right: 45px;
	padding: 20px;
	background: var(--primary);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.arrow {
	color: white;
}
