.wrapper {
	background: var(--default-background-color);
	height: var(--default-layout-height);
}

.container {
	display: flex;
	margin-top: var(--default-header-height);
}

.content {
	display: flex;
	flex: 1;
	justify-content: center;
}
