:root {
	--content-background: white;
	--title-color: black;
	--log-option-color: white;
	--split-line-color: rgba(22, 24, 35, 0.12);
	--method-des-color: rgba(22, 24, 35, 0.5);
	--method-background-color: rgba(22, 24, 35, 0.06);
	--description-footer-color: rgba(22, 24, 35, 0.5);
	--description-footer-background: white;
}

[data-theme='dark'] {
	--content-background: rgb(37, 37, 37);
	--title-color: white;
	--log-option-color: #404040;
	--split-line-color: rgba(255, 255, 255, 0.12);
	--method-des-color: rgba(255, 255, 255, 0.75);
	--method-background-color: #404040;
	--description-footer-color: rgba(255, 255, 255, 0.5);
	--description-footer-background: rgb(18, 18, 18);
}

.wrapper {
	position: fixed;
	overflow: hidden;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	.content {
		border-radius: 8px;
		background: var(--content-background);
		margin: auto;
		margin-top: 4%;
		width: 520px;

		.header {
			padding: 0 60px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 16px;
			.title {
				color: var(--title-color);
				font-weight: bold;
				font-size: 24px;
				margin-top: 48px;
				margin-bottom: 20px;
			}

			.clear-button {
				position: absolute;
				top: 16px;
				right: 0px;
				color: black;
				&:hover {
					cursor: pointer;
				}
			}

			.log-container {
				display: flex;
				justify-content: center;
				width: 400px;
				.log-option {
					color: var(--default-text-color);
					background: var(--log-option-color);
					border-radius: 24px;
					height: 30px;
					padding: 0px 20px;
					margin-left: 10px;
					font-weight: bold;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.footer {
	.method-title {
		padding: 0 60px;
		margin: 18px 0px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.split-line {
			width: 122px;
			height: 1px;
			background: var(--split-line-color);
		}

		.des {
			color: var(--method-des-color);
		}
	}

	.method-wrapper {
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		.method {
			color: var(--default-text-color);
			background: var(--method-background-color);
			position: relative;
			border-radius: 8px;
			height: 36px;
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				cursor: pointer;
			}

			.method-icon {
				position: absolute;
				left: 12px;
			}
		}
	}

	.description {
		text-align: center;
		color: var(--description-footer-color);
		background: var(--description-footer-background);
		font-size: 13px;
		padding: 18px 70px;
		line-height: 1.4;
		a {
			color: var(--default-text-color);
		}
	}

	.logout-transfer {
		border-top: 0.5px solid rgba(22, 24, 35, 0.12);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 66px;
		color: var(--default-text-color);

		button {
			color: var(--primary);
			background-color: transparent;
			font-weight: 600;
			font-size: 14px;
			padding-left: 6px;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}

.active {
	background: black !important;
	color: white !important;
}
