:root {
	--input-color: rgba(22, 24, 35, 0.06);
	--button-disabled-text: rgba(22, 24, 35, 0.34);
	--button-code: transparent;
	--change-to-password-color: rgba(22, 24, 35, 0.75);
	--submit-text: rgba(22, 24, 35, 0.34);
}

[data-theme='dark'] {
	--button-code: rgb(54 54 54);
	--button-disabled-text: rgba(255, 255, 255, 0.34);
	--input-color: #404040;
	--change-to-password-color: rgba(255, 255, 255, 0.75);
	--submit-text: rgba(255, 255, 255, 0.34);
}

.wrapper {
	padding: 0 60px;
}

.phone {
	height: 44px;
	background: var(--input-color);
	border-radius: 8px;
	select {
		height: 100%;
		width: 80px;
		background: transparent;
		border: none;
		color: var(--default-text-color);
		border-right: 1px solid rgba(22, 24, 35, 0.12);
	}

	input {
		height: 100%;
		padding-left: 16px;
		caret-color: var(--primary);
		width: 320px;
		background: transparent;
	}
}
::placeholder {
	color: rgba(22, 24, 35, 0.34);
	font-size: 16px;
}
.phone-code {
	display: flex;
	height: 44px;
	margin-top: 12px;
	margin-bottom: 12px;
	background: var(--input-color);
	border-radius: 8px;
	input {
		height: 100%;
		caret-color: var(--primary);
		background: transparent;
		flex: 1;
		padding-left: 14px;
	}
	button {
		color: var(--default-text-color);
		background: var(--button-code);
		border-left: 1px solid rgba(22, 24, 35, 0.12);
		height: 100%;
		display: flex;
		font-weight: bold;
		font-size: 16px;
		align-items: center;
		padding: 0px 16px;
		cursor: pointer;
	}
}

.change-to-password {
	color: var(--change-to-password-color);
	font-weight: 600;
	font-size: 12px;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.login {
	border-radius: 8px;
	height: 44px;
	width: 400px;
	color: var(--submit-text);
	background-color: var(--input-color);
	font-weight: 700;
	font-size: 17px;
	margin-top: 12px;
}

.disabled {
	color: var(--button-disabled-text) !important;
	cursor: not-allowed !important;
}

.active {
	background: var(--primary);
	color: white;
	cursor: pointer;
}
