.wrapper {
	background-color: var(--default-background-color);
	width: 100%;
	height: calc(100vh - var(--default-header-height));
	margin-left: var(--side-bar-width);
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 80%;
	height: 70%;
	border-radius: 8px;
	padding: 60px 50px;
}

.content {
	color: var(--default-text-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #ccc;
	border-radius: 8px;
	height: 100%;
	padding: 100px 60px;
	&:hover {
		cursor: pointer;
		background: rgba(22, 24, 35, 0.03);
	}
}

.icon {
	margin-bottom: 35px;
}

.header {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}

.description,
.resolution,
.max-length {
	margin-bottom: 5px;
}

.option,
.size {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8px;
}

.upload-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primary);
	color: white;
	width: 400px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 10px;
	&:hover {
		cursor: pointer;
		background: rgb(234 40 78);
	}
}

.hidden {
	display: none;
}
