:root {
	--input-bg: rgb(22 24 35 / 6%);
	--input-border-top: rgba(22, 24, 35, 0.2);
}

[data-theme='dark'] {
	--input-bg: rgb(211 210 210);
	--input-border-top: #5b5c60;
}

.wrapper {
	height: 100vh;
	background-color: var(--default-background-color);
}

.video-info {
	padding: 24px;
	overflow-y: scroll;
	height: 92vh;
}

.icon {
	height: 20px;
}

.liked {
	color: var(--primary);
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	width: 100%;
	padding: 0px 24px;
	border-top: 1px solid var(--input-border-top);
	.input {
		padding: 10px;
		width: 86%;
		border-radius: 5px;
		background: var(--input-bg);
		caret-color: var(--primary);
		&:focus {
			border: 1px solid rgb(22 24 35 / 20%);
		}
	}
	.post-button {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--primary);
		font-weight: 600;
		height: 100%;
		&:hover {
			cursor: pointer;
		}
	}
}
